<?xml version="1.0" encoding="utf-8"?>
<!--=================================================
    MANIFESTO DO APLICATIVO
    Define permissões e componentes do app
    Não requer permissões especiais
=================================================-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MeuApp">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <!--── ACTIVITY PRINCIPAL ──────────────────────
            exported="true" obrigatório para Android 12+
            windowSoftInputMode evita teclado subindo a tela
        ─────────────────────────────────────────────-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">

            <!-- Define como ponto de entrada do launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
